*{
	margin: 0;
	padding: 0;
	/* 移动端高亮显示去掉 */
	-webkit-tap-highlight-color: transparent;
	 /* 盒子模型设为CSS3 */
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;
}
body{
	/* 最大最小宽度 */
	width: 100%;
	max-width: 540px;
	min-width: 320px;
	/* 字体样式 */
	font-size: 14px;
	color: #000;
	font-family: "microsoft yahei" , sans-serif;
	/* 居中 */
	margin: 0 auto;
	/* 去掉水平方向的滚动条 */
	overflow-x: hidden;
	/* 背景色 */
	background-color: #f4f4f4;
}
a{
	color: #666;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
ul,ol{
	list-style: none;
}
input{
	border: none;
	outline: none;
}
img{
	border: none;
}
.clearfix::after,
.clearfix::before{
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.bigbox{
	width: 100%;
	height: 690px;
	background-color: white;
}
.bigbox>.top{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 50px;
}
.bigbox>.top>.left{
	position: relative;
	padding-top: 10px;
	padding-left: 20px;
	margin-left: 10px;
	width: 85%;
	height: 40px;
	background: rgba(0,0,0,.07);
	border-radius: 50px;
}
.bigbox>.top>.left>em{
	    display: block;
	    position: absolute;
		top: 3px;
	    left:8px;
	    width: 30px;
	    height: 30px;
	    border: 5px solid #000;
	    border-radius: 50%;
	    transform: scale(.5);
}
.bigbox>.top>.left>em::before{
	    content: "";
	    display: inline-block;
	    position: absolute;
	    right: -11px;
	    bottom: -9px;
	    border-width: 0;
	    background: #000;
	    width: 15px;
	    height: 5px;
	    transform: rotate(45deg);
}

.bigbox>.top>.left>input{
	flex: 3;
	font-size: 18px;
	border: 0;
	padding-left: 20px;
	background-color: transparent;
}
.bigbox>.top>.href{
	flex: 1;
	padding-left: 15px;
}
.bigbox>.top>.href>a{
	font-size: 17px;
	color: #000;
}

.bot{
	width: 100%;
	height: 200px;
	margin-top: 20px;
}
.bot>span{
	color: #ccc;
	font-size: 18px;
	padding-left: 20px;
}
.bot>.bot-nav{
	margin-left: 20px;
	margin-top: 20px;
	width: 100%;
}
.bot>.bot-nav>.nav{
	display: block;
	font-size: 17px;
	float: left;
	color: #444;
	width: 90px;
	border-radius: 15px;
	line-height: 35px;
	text-align: center;
	height: 35px;
	margin: 10px 10px 10px 10px;
	background: rgba(0,0,0,.07);
}

